/* Page-wide styles */

* {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    color: #2b6891;
    font-weight: normal;
}

h2 {
    font-size: 27px;
}

p, address, ul {
    font-size: 21px;
}

p {
    margin: 0;
}

/* Header styles */

header {
    padding: 15px;
    background-color: #aaaaaa;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../images/IMG_1032.jpg");
    background-size: cover;
    padding-bottom: 30px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin: 0 auto;
}

header img {
    height: 300px;
    border-radius: 35px;
    padding: 0 20px 20px 20px;
}

header h1 {
    padding: 12px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header ul li {
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    transition: background-color 0.4s;
}

header ul li:hover {
    background: rgba(255, 255, 255, 1);
    transition: background-color 0.4s;
}

header ul li a {
    color: black;
    text-decoration: none;
}

/* Sections layout */

.content-box {
    width: 80%;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
}

section h2 {
    margin: 0 30px;
    min-width: 150px;
}

section > div {
    border-left: 5px solid #2b6891;
    padding-left: 15px;
}

/* CSS grid */

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

.grid-item {
    grid-area: span 1/span 1;
    border: 6px solid #acbb9c;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    margin: 0;
}

.grid-item.emphasize {
    grid-area: span 2/span 2;
}

.grid-item div {
    background-image: linear-gradient(to right, rgba(172, 187, 156, 1), rgba(172, 187, 156, 0.5));
    position: absolute;
    width: 100%;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    transform: translate(100%);
    transition: transform 0.5s
}

.grid-item h3 {
    font-size: 1.5vw;
    margin: 0;
}

.grid-item h4 {
    font-size: 1.2vw;
    margin: 0;
}

.portfolio-grid:hover .grid-item div {
    transform: translate(0);
    transition: transform 0.5s
}

/* Contact me */

address {
    border-left: 5px solid #2b6891;
    padding-left: 15px;
    width: 80%;
}

address ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

address ul li {
    padding: 10px 20px;
}

.contact-link {
    width: 50px;
}

/* Media queries */

@media screen and (max-width: 575px) {
    header div, .content-box {
        width: 100%;
    }

    p, address, ul {
        font-size: 18px;
    }

    header ul {
        padding: 0;
    }

    header h1 {
        text-align: center;
    }

    header ul li {
        font-size: 15px;
        margin: 0;
        padding: 10px;
        background: rgba(255, 255, 255, 1)
    }

    section {
        justify-content: center;
        margin-bottom: 10px;
        margin-right: 5px;
        flex-wrap: wrap;
    }

    section h2 {
        min-width: initial;
        padding-bottom: 10px;
        text-align: center;
    }

    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }

    .grid-item div {
        transform: translate(0);
    }

    .grid-item div h3 {
        font-size: 21px;
    }

    .grid-item div h4 {
        font-size: 16px;
    }

    address {
        width: 100%;
    }

    address ul {
        justify-content: center;
        padding: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    header div, .content-box {
        width: 100%;
    }

    section {
        margin-right: 8px;
    }

    section h2 {
        min-width: 100px;
        max-width: 100px;
    }
    
    .portfolio-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid-item div {
        transform: translate(0);
    }

    .grid-item div h3 {
        font-size: 21px;
    }

    .grid-item div h4 {
        font-size: 16px;
    }

    header ul li {
        background: rgba(255, 255, 255, 1)
    }

    address ul {
        justify-content: center;
    }
}