* {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    color: #2b6891;
    font-weight: normal;
}

h2 {
    font-size: 27px;
}

p, address, ul {
    font-size: 21px;
}

p {
    margin: 0;
}

header {
    padding: 15px;
    background-color: #aaaaaa;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../images/IMG_1032.jpg");
    background-size: cover;
    padding-bottom: 30px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin: 0 auto;
}

header img {
    height: 300px;
    border-radius: 35px;
    padding: 0 20px 20px 20px;
}

header h1 {
    padding: 12px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header ul li {
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    transition: background-color 0.4s;
}

header ul li:hover {
    background: rgba(255, 255, 255, 1);
    transition: background-color 0.4s;
}

.content-box {
    width: 80%;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
}

section h2 {
    margin: 0 30px;
    min-width: 150px;
}

section h2 {
    text-align: right;
}

section > div {
    border-left: 5px solid #2b6891;
    padding-left: 15px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

.grid-item {
    grid-area: span 1/span 1;
    overflow: hidden;
    width: 100%;
    border: 6px solid #acbb9c;
    box-sizing: border-box;
    height: 1fr;
    display: flex;
}

.grid-item img {
    width: 100%;
    margin: 0;
}

.grid-item.emphasize {
    grid-area: span 2/span 2;
}

.grid-item div {
    background-color: #acbb9c;
    width: 100%;
    margin: 0;
}

.grid-item h3 {
    font-size: 25px;
    margin: 0;
}

.grid-item h4 {
    font-size: 21px;
    margin: 0;
}

